{% extends 'base.html' %}
{% block style %}
<style>
  .btni{
    padding: 9px 12px 9px 12px;
    border-radius:8px;
    background-color:#120E43;
    border:none;
    color:white;

  }
</style>
{% endblock %}
{% block content %}
    {% for carousle in carousle %}
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img  src="{{carousle.image1.url}}" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="{{carousle.image2.url}}" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="{{carousle.image3.url}}" class="d-block w-100" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    {% endfor %}
    <p style="font-size: 24px; color:grey; background-color:whitesmoke; margin-top:3%; margin-left:1%;" class="container-fluid">Top Categories</p>
    <div class="container-fluid mt-2">
        <div class="row">
            <div class="col">
                <div class="row">
                    {% for category in category %}
                        <div class="col-lg-2  my-2 col-md-4 col-sm-6 col-12 border">
                          <a href="?category={{category.id}}"><img style="width: 150px;  height:150px; display:block; margin-left:auto; margin-right:auto; border-radius:50%;" src="{{category.image.url}}" alt="brands"></a>
                          <p style="text-align:center; font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; letter-spacing:1px; text-transform:capitalize;">{{category.name}}</p>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
      <div class="col-11">
        <p class="container-fluid" style="font-size: 24px; color:grey; background-color:whitesmoke; margin-top:3%; margin-left:1%;">Explore products</p>
      </div>
      <div class="col mt-4">
          <a href="/products"><button style="float:right;" type="button" class="btn mt-2 btn-outline-primary">View All</button></a>
      </div>
    </div>
    <div class="container-fluid mt-2">
      <div class="row">
        <div class="col">
          <div class="row text-center">
            {% for product in product %}
                <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                   <div class="card1 border my-2">
                      <img style="width:200px; display:block; margin-left:auto; margin-right:auto; height:200px;" src="{{product.image.url}}" alt="">
                      <!-- <img style="height:70px; width:50%; display:block; margin-left:auto; margin-right:auto;" src="{{product.brand.image.url}}" alt="brandimage"> -->
                      <h5 style="text-align: center; height:50px;">{{product.name|truncatechars:29}}</h5>
                      <p style="text-align:center;"><a href="/see/{{product.id}}"><button class="btni col-lg-12">See More</button></a></p>
                    </div>
                </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
    
{% endblock %}


