{% extends 'base.html' %}
{% block style %}
<style>
        body {
            font-family: Arial, Helvetica, sans-serif;
           
          }
          
          * {
            box-sizing: border-box;
          }
          
          /* Add padding to containers */
          .container {
            padding: 16px;
            background-color: white;
          }
          
          /* Full-width input fields */
          input[type=text], input[type=password] {
            width: 100%;
            padding: 15px;
            margin: 5px 0 22px 0;
            display: inline-block;
            border: none;
            background: #f1f1f1;
          }
          
          input[type=text]:focus, input[type=password]:focus {
            background-color: #ddd;
            outline: none;
          }
          
          /* Overwrite default styles of hr */
          hr {
            border: 1px solid #f1f1f1;
            margin-bottom: 25px;
          }
          
          /* Set a style for the submit button */
          .registerbtn {
            background-color: #04AA6D;
            color: white;
            padding: 16px 20px;
            margin: 8px 0;
            border: none;
            cursor: pointer;
            width: 100%;
            opacity: 0.9;
          }
          
          .registerbtn:hover {
            opacity: 1;
          }
          
          /* Add a blue text color to links */
          a {
            color: dodgerblue;
          }
          
          /* Set a grey background color and center the text of the "sign in" section */
          .signin {
            background-color: #f1f1f1;
            text-align: center;
          }
    
</style>
{% endblock %}
{% block content %}
<form action="/login" method="POST">
    {% csrf_token %}
    <div class="container mt-5">
    
        <p style="text-align: center; font-size:20px; margin-top:2%; margin-bottom:2%;">Login</p>
        {% for message in messages %}
            <p style="text-align: center;">{{message}}</p>
        {% endfor %}        
        <label for="username"><b>Username</b></label>
        <input type="text" placeholder="Enter Username" name="username" id="username" required>
        
        
        <label for="psw"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="password" id="psw" required>
                        
                            
            
        <a href="/login"><button type="submit" class="registerbtn">Login</button></a>
    </div>
    
    <div class="container signin">
      <p>Don't have an account? <a href="/register">Register an Account</a>.</p>
    </div>
  </form>
{% endblock %}